.media-library-item--grid.media-library-item:not(.checked):before {
  border: 0;
}

.media-library-item--grid .field--name-thumbnail {
  border: 1px solid #a6a6a6;
}

table.media-library-extend-info {
  border-collapse: collapse;
  margin: 3px 0;
  padding: 0;
}

table.media-library-extend-info tr {
  margin: 0;
  padding: 0;
  border: 0;
}

table.media-library-extend-info tr.size-yellow {
  background-color: #FBF6CA;
}

table.media-library-extend-info tr.size-orange {
  background-color: #FBECD3;
}

table.media-library-extend-info tr.size-red {
  background-color: #F9D4D2;
}

table.media-library-extend-info td {
  padding: 1px 4px !important;
  font-size: 12px;
  border: 1px solid #a6a6a6;
}

table.media-library-extend-info td.no-wrap {
  white-space: normal;
  word-break: break-word;
}

table.media-library-extend-info .media-library-item__name {
  white-space: normal;
  word-break: break-word;
  font-size: 12px;
}

.media-file-wrapper {
  position: relative;
}

.media-file-wrapper .file-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.edit-media-item {
  display: block;
  margin: 0;
  padding: 4px;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #a6a6a6;
}
