{{ attach_library('media_library_extend/styles') }}
<article{{ attributes.addClass("media-file-wrapper") }}>
  {% if content %}
    <div class="field--name-thumbnail">
      {% if fileThumbnailURL %}
        <img src="{{ fileThumbnailURL }}" />
      {% elseif fileMime == "application/pdf" %}
        <img src="/modules/custom/media_library_extend/images/icon-pdf.svg" width="35" height="50" />
      {% else %}
        <img src="/modules/custom/media_library_extend/images/files.svg" width="35" height="50" />
      {% endif %}
    </div>
    {% if not status %}
      <div class="media-library-item__status">{{ "unpublished"|t }}</div>
    {% endif %}
    <table class="media-library-extend-info">
      <tbody>
        <tr>
          <td>{{ "Name"|t }}</td>
          <td>
            <div{{ metadata_attributes }}>
              <div class="media-library-item__name">{{ name }}</div>
            </div>
          </td>
        </tr>
        {% if fileName %}
        <tr>
          <td>{{ "File"|t }}</td><td class="no-wrap">{{ fileName }}</td>
        </tr>
        {% endif %}
        {% if fileSize %}
        <tr>
          <td>{{ "Size"|t }}</td><td class="no-wrap">{{ fileSize }}</td>
        </tr>
        {% endif %}
        {% if fileLink %}
        <tr>
          <td>{{ "Path"|t }}</td><td class="no-wrap">{{ fileLink }}</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  {% endif %}
  {% if fileThumbnailURL %}
    {% if fileMime == "application/pdf" %}
      <img class="file-icon" src="/modules/custom/media_library_extend/images/icon-pdf.svg" width="35" height="50" />
    {% else %}
      <img class="file-icon" src="/modules/custom/media_library_extend/images/files.svg" width="35" height="50" />
    {% endif %}
  {% endif %}
  <a class="edit-media-item" href="{{ url }}" rel="bookmark">{{ "Edit media item"|t }} {{ media.mid.0.value }}</a>
</article>
