{{ attach_library('media_library_extend/styles') }}
<article{{ attributes }}>
  {% if content %}
    <div{{ preview_attributes }}>
      {{ content|without('name') }}
    </div>
    {% if not status %}
      <div class="media-library-item__status">{{ "unpublished"|t }}</div>
    {% endif %}
    <table class="media-library-extend-info">
      <tbody>
        <tr>
          <td>{{ "Name"|t }}</td>
          <td>
            <div{{ metadata_attributes }}>
              <div class="media-library-item__name">{{ name }}</div>
            </div>
          </td>
        </tr>
        {% if media.field_media_image.0.alt %}
        <tr>
          <td>{{ "Alt"|t }}</td><td class="no-wrap">{{ media.field_media_image.0.alt }}</td>
        </tr>
        {% endif %}
        {% if imageFileName %}
        <tr>
          <td>{{ "File"|t }}</td><td class="no-wrap">{{ imageFileName }}</td>
        </tr>
        {% endif %}
        {% if imageFileSize %}
        <tr class="{{ fileSizeWarning }}">
          <td>{{ "Size"|t }}</td><td class="no-wrap">{{ imageFileSize }}</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
    <a class="edit-media-item" href="{{ url }}" rel="bookmark">{{ "Edit media item"|t }} {{ media.mid.0.value }}</a>
  {% endif %}
</article>
